#do not include the folder ny_taxi_postgres_data in the git repository
# do not include the folder ny_taxi_postgres_data in the git repository
ny_taxi_postgres_data/

*.csv
*.zip
*.parquet
*.gz
*.db

*key.json

#ignore local db files
data_pgadmin/
ny_taxi_postgres_data/
dbt_code

# But allow this specific seed file
!seeds/taxi_zone_lookup.csv